html {
    text-align: center;
    display: flex;
    flex-direction: column;
}

body
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

h1
{
    border: 1px solid black;
    width: 100%;
    margin-right: auto;
    margin-left: auto;

}

iframe
{
    margin-top: 10px;
}

legend 
{
    font-size: xx-large;
    color: blue;
}

.zman
{
    color: black;
    font-size: xx-large;
}

input[type=submit]
{
    background-color: red;
    padding: 5px;
    border-radius: 10px;
}

input[type=submit]:hover
{
    background-color: green;
    color: white;
}

.pdf
{
    margin-top: 20px;
}



img
{
    max-width: 100%;
    height: 30px;
}

fieldset
{
    margin-top: 10px;
}

.formPDF.one
{
  margin-top: 10px;
}

.formPDF
{
  margin-bottom: 10px;
}


/* LOADER 2 */

#loader-2 span{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #3498db;
    margin: 35px 5px;
  }
  
  #loader-2 span:nth-child(1){
    animation: bounce 1s ease-in-out infinite;
  }
  
  #loader-2 span:nth-child(2){
    animation: bounce 1s ease-in-out 0.33s infinite;
  }
  
  #loader-2 span:nth-child(3){
    animation: bounce 1s ease-in-out 0.66s infinite;
  }
  
  @keyframes bounce{
    0%, 75%, 100%{
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  
    25%{
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -o-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }

  .loader.pdf
  {
    display: none;
  }

  /* .loader.pdf img 
  {
    margin-bottom: 5px;
  } */

  input
  {
    cursor: pointer;
  }
  
/* 
  .coucou
  {
    display: inline;
  } */
/* 
  #image1
  {
    position: absolute;
    bottom: -90px;
    right: 134px;
  } */

  .allForm
  {
    width: fit-content;
    margin: auto;
    text-align: right;
  }

  .allCheckboxs
  {
    position: relative;
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    right: -154px;
    top: -33px;
  }

  .checkbox{
    margin-bottom: -48px;
  }

  /* input.checkbox
  {
    margin: 4px;
  } */



/* MODAL */


.modal-btn {
  /* padding: 10px 14px;
  font-size: 18px;
  margin: 100px auto;
  display: block;
  min-width: 150px;
  cursor: pointer; */
  width: 20px;
  height: 13px;
  background-image: url('../public/eye-icon2.png');
  border: 1px solid grey;
  border-radius: 5px;
  background-size: cover;
  cursor: pointer;
  top: -2px;
  position: relative;
}

.modal-container {
  /* display: none; */
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: visibility 0.4s;
}
.modal-container.active {
  /* display: block; */
  visibility: visible;
}

.overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333333d3;
  transition: opacity 0.4s 0.2s ease-out;
}
.modal-container.active .overlay {
  opacity: 1;
  transition: opacity 0.4s ease-out;
}

.modal {
  opacity: 0;
  width: 500px;
  height: 200px;
  /* max-width: 500px;
  min-width: 300px; */
  padding: 30px;
  background-image: url('http://localhost:3000/images/imageAffiche1.jpg');
  background-size: cover;
  border-radius: 5px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 50px));
  transition: opacity 0.4s ease-out,
  transform 0.4s ease-out;
}

.modal-container.active .modal {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s 0.2s ease-out,
  transform 0.4s 0.2s ease-out;
}

.close-modal {
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: #ff365e;
  color: #fff;
}
.modal h1 {
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}
.modal p {
  line-height: 1.4;
  margin-bottom: 5px;
}



/* type file */

input[type="file" i] 
{
  display: none;
}

.label-image
{
  padding: 1px 10px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}

.label-image:hover
{
  background-color: rgb(200, 200, 200);
}

.image
{
  font-weight: bold;
  font-size: large;
}

/* #name-image-modal
{
  color: red;
  margin-left: 0px;
} */


#name-image-modal {
  color: red;
  position: absolute;
  left: 5px;
  top: 5px;
  font-style: italic;
  font-weight: bold;
}

.sec-interval
{
  text-align: center;
  font-weight: bold;
}